Django==5.2.13
bleach==6.2.0
celery==5.6.3
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==25.3.0
Markdown==3.10.2
Pillow==11.0.0
psycopg[binary]==3.3.3
PyMySQL==1.1.2
pypdf==6.10.2
python-docx==1.2.0
redis==7.4.0
whitenoise==6.12.0
